body{
    margin: 25px;
}

[data-tab-content] {
    display: none;
  }
  
.active[data-tab-content] {
    display: block;
}


h1 {
    font-family: Raleway;
}


.container-top{
    position: fixed;
    top: 0;
    display: flex;
    width: 95%;
    height: 90px;
    background: ivory;
 
}
.box-name{
   flex: 1;
   margin-left: 1.66%;
   font-family: Raleway;
   font-weight: 800;
   font-size: 23px;
   text-transform: uppercase;
   border-bottom: 2px solid grey;
   width: 30%;
}

.box-tab{
    flex: 2;
}

.box-tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  li {
    padding: 10px;
    padding-left: 6%;
    float: right;
    display: block;
    color: darkslategray;
    text-align: center;
    text-decoration: none;
    margin: 0;
    margin-top: 22px;
    font-size: 20px;
    cursor: pointer;
    
  }

  li:hover{
      color: gray;
  }

  li.active {
      color: gray;
  }

  
img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

.pic1{
    width: 30%;
    float: right;
}

.pic2{
    padding-top: 80px;
    width: 30%;
    float: right;
}

.pic3{
    width: 30%;
    float: right;
}

#home-text{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    background-image: url("photos/home_pic.jpg");
    background-size: cover;

}

#home-text h1{
    color: white;
    font-size: 50px;
}
#home-text button{
    color: gray;
    background-color: transparent;
    border-color: white;
    font-size: 18px;
    border-radius: 5px;
    border-style: groove;
    padding: 10px;

}

#home-text button:hover{
    color: white;
    background-color: gray;
    border-color: transparent;
}

#about{
    margin-top: 90px;
    background-color: blueviolet;
}


#about img{
    float: left;
    width: 50%;
}


test