body{
    margin: 25px;
}
h1 {
    font-family: Raleway;
    float: left;
    margin-left: 15%;
    padding-bottom: 20px;

}


.container-top{
    display: flex;
    margin-right: 1.5%;
}
.box-name{
   flex: 0.7;
   margin-left: 1.66%;
   font-family: Raleway;
   font-weight: 800;
   font-size: 23px;
   text-transform: uppercase;
   border-bottom: 2px solid grey;
   width: 30%;
}

.box-tab{
    flex: 2;
}

.box-tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  li {
    padding: 10px;
    padding-left: 6%;
    float: right;
    display: block;
    color: darkslategray;
    text-align: center;
    text-decoration: none;
    margin: 0;
    margin-top: 14px;
    font-size: 20px;
    
  }
  
img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

.pic1{
    width: 30%;
    float: right;
}

.pic2{
    padding-top: 80px;
    width: 30%;
    float: right;
}

.pic3{
    width: 30%;
    float: right;
}